.crankybicycle_main_container h1 {
    margin: 1em 1em 3em 0;
}

/*================================== Main Grid ===============================*/
.steel_bike {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 6em;
}
.gazele_bike{
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 6em;
}

.mix_bike{
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 6em;
}

.ural_bike{
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 6em;
}

.zil_bike{
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 6em;
}
.image-grid-second {
  --gap: 15px;
  --num-cols: 3;
  --row-height: 600px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: auto;
  gap: var(--gap);
  object-fit: cover;
}

.image-grid {
  --gap: 15px;
  --num-cols: 4;
  --row-height: 600px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: auto;
  gap: var(--gap);
  object-fit: cover;
}

.image-grid > img {
  width: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}
.image-grid-row-2 {
  grid-row: span 2;
}


/*================================== Descriptions ===============================*/
.steel_bike_description {
  width: 50%;
  margin: auto auto;
  text-align: center;
  border-top: 2px solid var(--red);
  
}
.steel_bike_description > p {
  text-align: center;
  margin: 2em 0;
}
.steel_bike_description > h2 {
  text-align: center;
}
.steel_bike_description > a {
  display: inline-block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  background-image: url('../../media/social/youtube.png');
  background-size: cover;
}

.gazele_bike_description {
  width: 50%;
  margin: auto auto;
  text-align: center;
  border-top: 2px solid var(--red);
  
}
.gazele_bike_description > p {
  text-align: center;
  margin: 2em 0;
}
.gazele_bike_description > h2 {
  text-align: center;
}

.mix_bike_description {
  width: 50%;
  margin: auto auto;
  text-align: center;
  border-top: 2px solid var(--red);
  
}
.mix_bike_description > p {
  text-align: center;
  margin: 2em 0;
}
.mix_bike_description > h2 {
  text-align: center;
}

.ural_bike_description {
  width: 50%;
  margin: auto auto;
  text-align: center;
  border-top: 2px solid var(--red);
  
}
.ural_bike_description > p {
  text-align: center;
  margin: 2em 0;
}
.ural_bike_description > h2 {
  text-align: center;
}

.zil_bike_description {
  width: 60%;
  margin: auto auto;
  text-align: center;
  border-top: 2px solid var(--red);
  
}
.zil_bike_description > p {
  text-align: center;
  margin: 2em 0;
}
.zil_bike_description > h2 {
  text-align: center;
}


/* ================================== Small-Meduim ================================*/

@media only screen and (max-width: 978px) {
  .steel_bike {
    display: grid;
    grid-template-columns: 1fr;
  }
  .gazele_bike{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 6em;
  }
  
  .mix_bike{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 6em;
  }
  
  .ural_bike{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 6em;
  }
  
  .zil_bike{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 6em;
  }
  
}

@media only screen and (max-width: 760px) {

  .image-grid-second {
    --num-cols: 1;
    grid-template-columns: repeat(var(--num-cols), 1fr);
  }
  .image-grid {
    --num-cols: 1;
    grid-template-columns: repeat(var(--num-cols), 1fr);
  }
  .image-grid > img {
    display: none;
    margin: auto;
    max-width:60%; 
    height:auto;
  }
  .image-grid > img:nth-child(1) {
    display: block;
  }
  .image-grid > img:nth-child(2) {
    display: block;
  }
  .image-grid-second > img {
    display: none;
    margin: auto;
    max-width:60%; 
    height:auto;
  }
  .image-grid-second > img:nth-child(1) {
    display: block;
  }
  .image-grid-second > img:nth-child(2) {
    display: block;

  }
  .image-grid-col-2 {
    display: none;
  }
  .image-grid-row-2 {
    display: none;
  }
}