
.home_video {
    position: fixed;
    top: 7em;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
}

.video_content {
    font-family: var(--jockey);
    position: absolute;
    z-index: 100;
    color: var(--yellow);
    background-color: transparent;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vw;
    text-shadow: -1px -1px 6px var(--red), 1px 1px 2px #0400ff;
    -webkit-text-shadow: -1px -1px 6px var(--red), 1px 1px 2px #0400ff;
    -moz-text-shadow: -1px -1px 6px var(--red), 1px 1px 2px #0400ff;   
}

.footer_container_home {
    background-color: var(--dark);
    box-shadow: 0px -2px 3px var(--red);
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.footer_container_home p {
    padding: 0.5em 0;
    background-color: var(--dark);
    color: var(--light-white);
    font-size: smaller;
    text-align: center;
    margin: auto;
    width: 20%;
}

.footer_container_home p a {
    background-color: var(--dark);
    color: var(--light-white);
    text-decoration: none;
}


/* ================================== Small ================================*/

@media only screen and (max-width: 768px) {

}

